<p>user works!</p>
<!-- Date variable keeps the date of the instanciation of the Service -->
<div>Date (variable) : {{dateService.date | date:'long'}};</div>
<!-- Date method keeps the current date -->
<div>Date (method) : {{dateService.getDate() | date:'long'}};</div>

<p>Input with ngModel</p>
<input [(ngModel)]="userInput" />
Test: {{userInput}}

<p>Input with formControl directive</p>
<input [formControl]="userInputForm" />
Test: {{userInputForm.value}}

<p>Form with formGroup directive</p>
<form [formGroup]="userForm">
    <label>Name </label>
    <input formControlName="name" />
    <label>Email </label>
    <input formControlName="email" />
    <button (click)="showForm()">Submit Form</button>
</form>
